#cont-carga{
    background-image: url("../img/fondito.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}
#carga-final{
    border: 15px solid rgb(223, 208, 208, 0.5);
    border-top-color: rgb(23, 29, 41);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite ;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}